<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title >Catalogo Films</title>
</head>
<body>
<h1>Catalogo Film</h1>

<table border="1">
    <thead>
    <tr>
        <th>Codice</th>
        <th>Titolo</th>
        <th>Genere</th>
        <th>Anno</th>
        <th>Voto</th>
        <th>Elimina</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${films}">
        <td><a th:href="@{/films/{codice}(codice=${film.codice})}" th:text="${film.codice}"></a></td>
        <td th:text="${film.titolo}"></td>
        <td th:text="${film.genere}"></td>
        <td th:text="${film.anno}"></td>
        <td th:text="${film.voto}"></td>
        <td><a th:href="@{/films/{codice}/elimina(codice=${film.codice})}">Elimina</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/films/nuovo}">Aggiungi nuovo film</a>
<a th:href="@{/films/svuota}">Svuota catalogo</a>

</body>
</html>
